.content {
	max-width: 600px;
	min-width: 60vw;
	padding: 10px;
	height: 95vh;
}

body {
	font-family: Helvetica;
	color: white;
	background-color: black;
}

.header {
	display: flex;
 	justify-content: space-evenly;
 	width: 100vw;
 	align-items: center;
}

.header > h2 {
	text-align: center;
}
