.clocks {
  width: calc(100vw - 40px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: calc(50dvh - 280px);
}

.clocks h2 {
  width: 100%;
  text-align: center;
}

.react-clock__hand__body {
  background-color: white;
}

.react-clock__mark__body {
  background-color: white;
}

.react-clock {
  width: 200px !important;
  height: 200px !important;
}

.homeText {
  position: fixed;
  bottom: 20px;
  padding: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 767px) {
  .clocks {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .clocks > div {
    width: 100%;
  }

  .clocks h2 {
    font-size: 1.3em;
  }

  .react-clock {
    margin-left: calc(50% - 6dvh);
    width: 12dvh !important;
    height: 12dvh !important;
}

  .aboutContainer {
    width: 90%;
  }

  .homeText {
    position: fixed;
    bottom: calc(10px + env(safe-area-inset-bottom));
    padding: 20px;
  }
}

@media only screen and (max-height: 800px) and (max-width: 767px) {
  .clocks {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .clocks > div {
    width: 100%;
  }

  .clocks h2 {
    font-size: 1.3em;
  }

  .react-clock {
    margin-left: calc(50% - 5dvh);
    width: 10dvh !important;
    height: 10dvh !important;
}

  .aboutContainer {
    width: 90%;
  }

  .homeText {
    position: fixed;
    bottom: 10px;
    padding: 20px;
  }
}

@media only screen and (max-height: 760px) and (max-width: 767px) {
  .clocks {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .clocks > div {
    width: 100%;
  }

  .clocks h2 {
    font-size: 1.3em;
  }

  .react-clock {
    margin-left: calc(50% - 4dvh);
    width: 8dvh !important;
    height: 8dvh !important;
}

  .aboutContainer {
    width: 90%;
  }

  .homeText {
    position: fixed;
    bottom: 10px;
    padding: 20px;
  }
}

@media only screen and (max-height: 700px) and (max-width: 767px) {
  .clocks {
    display: none;
  }

  .aboutContainer {
    width: 90%;
  }

  .homeText {
    position: fixed;
    bottom: 10px;
    padding: 20px;
  }
}

@media only screen and (max-height: 500px) {
  .clocks {
    display: none;
  }

  .aboutContainer {
    width: 90%;
  }

  .homeText {
    position: fixed;
    bottom: 10px;
    padding: 20px;
  }
}