.cal {
	min-width: 640px;
	display: flex;
	max-width: 800px;
	flex-direction: row;
	flex-wrap: wrap;
}

.calElement {
	width: 60px;
	height: 50px;
	outline: 1px solid white;
}

.calElement p {
	margin: 5px;
}

.eventElement {
	height: 50px;
	padding-left: 10px;
	padding-right: 10px;
	outline: 1px solid white;
	display: flex;
}

.eventElement p {
	margin: 5px;
}

.eventTitle {
	padding-top: 10px;
	font-weight: bold;
	font-size: 1.2em;
}


@media only screen and (max-width: 767px) {
	.pageContainer > div {
		width: 100%;
	}


	.cal {
		min-width: 300px;
		width: 100% !important;
	}

	.calElement {
	width: 50px;
	height: 40px;
	outline: 1px solid white;
}

.eventElement {
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	outline: 1px solid white;
	display: flex;
}

.eventTitle {
	padding-top: 7px;
	font-weight: bold;
	font-size: 1em;
}

}